<div class="form-errors">
  {% for label, messages in app.flashes %}
    {% for message in messages %}
      <div class="alert alert-danger flash-{{ label }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endfor %}
</div>
