{% extends 'default/base.html.twig' %}

{% block page %}

  <section id="header">
    <div class="container">
      <div class="row">
        <div class="main-page-section col-md-12">
          <h1>Hello. I hope you have a good day!</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <p>Ut nec massa lacus. Nunc nec fermentum odio. Praesent ut interdum felis. Mauris sagittis interdum nisl non aliquam. Nunc ac ante nibh.
          Etiam vitae augue vitae libero convallis ultricies id quis odio. Aliquam consectetur quam non consectetur posuere.
          Aenean non facilisis felis. Pellentesque malesuada odio eu ultrices blandit.</p>
          <p>Mauris rutrum lorem sit amet arcu semper scelerisque. Phasellus laoreet aliquam mauris eget varius.
          Donec efficitur ante eget ligula viverra ornare. Etiam ornare massa id quam commodo semper.
          Integer rutrum ante id libero lobortis, in gravida dui molestie. Aenean blandit nibh non varius sagittis.</p>
          <p>Sed eu suscipit arcu, quis condimentum urna. Cras felis metus, consectetur sed fermentum nec, feugiat et ex. Morbi vulputate interdum pretium.
          Etiam facilisis pellentesque iaculis. Nullam blandit eu nisi vel fermentum. Sed ut massa id metus lobortis blandit non et nibh.
          Donec ultricies sed sem nec porttitor. Morbi sit amet est diam. Duis libero metus, commodo vel ultricies et, volutpat vel libero.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas commodo quam, eget lacinia elit iaculis nec.</p>
          <p>Praesent mauris risus, aliquam et euismod in, interdum quis nisi. Nullam at sem commodo felis semper tempus.
          Aenean non volutpat sapien. Phasellus leo quam, gravida non libero in, accumsan molestie diam. Vivamus gravida erat sed sollicitudin varius.
          Vivamus varius id eros quis iaculis. Mauris ut sem volutpat, commodo nulla quis, aliquet ex. Fusce sit amet tristique lorem, in tincidunt ipsum.
          Nullam tincidunt sagittis consectetur. Donec euismod tortor purus, sed posuere leo tristique in. In non aliquam libero, id lobortis augue.</p>
          <p>Phasellus interdum facilisis dictum. Integer non ultricies nunc. Donec mollis nibh turpis, id dapibus nulla vehicula vel.
          Nunc malesuada elit a dolor finibus, ac facilisis purus luctus. In a tempus lorem, at ultricies mi. </p>
          <p>Ut nec massa lacus. Nunc nec fermentum odio. Praesent ut interdum felis. Mauris sagittis interdum nisl non aliquam. Nunc ac ante nibh.
          Etiam vitae augue vitae libero convallis ultricies id quis odio. Aliquam consectetur quam non consectetur posuere.
          Aenean non facilisis felis. Pellentesque malesuada odio eu ultrices blandit.</p>
          <p>Mauris rutrum lorem sit amet arcu semper scelerisque. Phasellus laoreet aliquam mauris eget varius.
          Donec efficitur ante eget ligula viverra ornare. Etiam ornare massa id quam commodo semper.
          Integer rutrum ante id libero lobortis, in gravida dui molestie. Aenean blandit nibh non varius sagittis.</p>
          <p>Sed eu suscipit arcu, quis condimentum urna. Cras felis metus, consectetur sed fermentum nec, feugiat et ex. Morbi vulputate interdum pretium.
          Etiam facilisis pellentesque iaculis. Nullam blandit eu nisi vel fermentum. Sed ut massa id metus lobortis blandit non et nibh.
          Donec ultricies sed sem nec porttitor. Morbi sit amet est diam. Duis libero metus, commodo vel ultricies et, volutpat vel libero.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas commodo quam, eget lacinia elit iaculis nec.</p>
          <p>Praesent mauris risus, aliquam et euismod in, interdum quis nisi. Nullam at sem commodo felis semper tempus.
          Aenean non volutpat sapien. Phasellus leo quam, gravida non libero in, accumsan molestie diam. Vivamus gravida erat sed sollicitudin varius.
          Vivamus varius id eros quis iaculis. Mauris ut sem volutpat, commodo nulla quis, aliquet ex. Fusce sit amet tristique lorem, in tincidunt ipsum.
          Nullam tincidunt sagittis consectetur. Donec euismod tortor purus, sed posuere leo tristique in. In non aliquam libero, id lobortis augue.</p>
          <p>Phasellus interdum facilisis dictum. Integer non ultricies nunc. Donec mollis nibh turpis, id dapibus nulla vehicula vel.
          Nunc malesuada elit a dolor finibus, ac facilisis purus luctus. In a tempus lorem, at ultricies mi. </p>
          <p>Ut nec massa lacus. Nunc nec fermentum odio. Praesent ut interdum felis. Mauris sagittis interdum nisl non aliquam. Nunc ac ante nibh.
          Etiam vitae augue vitae libero convallis ultricies id quis odio. Aliquam consectetur quam non consectetur posuere.
          Aenean non facilisis felis. Pellentesque malesuada odio eu ultrices blandit.</p>
          <p>Mauris rutrum lorem sit amet arcu semper scelerisque. Phasellus laoreet aliquam mauris eget varius.
          Donec efficitur ante eget ligula viverra ornare. Etiam ornare massa id quam commodo semper.
          Integer rutrum ante id libero lobortis, in gravida dui molestie. Aenean blandit nibh non varius sagittis.</p>
          <p>Sed eu suscipit arcu, quis condimentum urna. Cras felis metus, consectetur sed fermentum nec, feugiat et ex. Morbi vulputate interdum pretium.
          Etiam facilisis pellentesque iaculis. Nullam blandit eu nisi vel fermentum. Sed ut massa id metus lobortis blandit non et nibh.
          Donec ultricies sed sem nec porttitor. Morbi sit amet est diam. Duis libero metus, commodo vel ultricies et, volutpat vel libero.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas commodo quam, eget lacinia elit iaculis nec.</p>
          <p>Praesent mauris risus, aliquam et euismod in, interdum quis nisi. Nullam at sem commodo felis semper tempus.
          Aenean non volutpat sapien. Phasellus leo quam, gravida non libero in, accumsan molestie diam. Vivamus gravida erat sed sollicitudin varius.
          Vivamus varius id eros quis iaculis. Mauris ut sem volutpat, commodo nulla quis, aliquet ex. Fusce sit amet tristique lorem, in tincidunt ipsum.
          Nullam tincidunt sagittis consectetur. Donec euismod tortor purus, sed posuere leo tristique in. In non aliquam libero, id lobortis augue.</p>
          <p>Phasellus interdum facilisis dictum. Integer non ultricies nunc. Donec mollis nibh turpis, id dapibus nulla vehicula vel.
          Nunc malesuada elit a dolor finibus, ac facilisis purus luctus. In a tempus lorem, at ultricies mi. </p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
