{% extends 'Default/base.html.twig' %}

{% block page %}

  <div class="container">
    <div class="row">
      <div class="form-container col-sm-6 col-sm-offset-3">

        <div class="form-header">
          <h2 class="form-title">Transaction creation</h2>
        </div>

        {{ form_start(form) }}
          {% include 'Default/formErrors.html.twig' %}

          {{ form_widget(form) }}
          <button class="form-button btn btn-primary btn-lg btn-block" type="submit">Create New</button>
        {{ form_end(form) }}

        <div class="form-footer">
          <p><a href="{{ path('transaction_index') }}">Back to the list</a></p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
